h2 {
    text-align: center;
    font-size: 40px;
}

.fadeIn {
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
}

.error-message {
    color: red;
    text-align: center;
}

form input::placeholder {
    color: #000000; /* Un gris un poco más oscuro */
}

.clickable {
    text-align: left;
    color: #000000;
    text-decoration: underline dotted;
    font-size: medium;
    font-weight: bold;
}

.clickable:hover{
    cursor: pointer;
}

input {
    background-color: #fff8e9;
    padding: 5px;
    font-size: 14px;
    border: 1px solid black;
    border-radius: 2px;
}

input:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

select {
    background-color: #fff8e9;
    padding: 5px;
    font-size: 14px;
    border: 1px solid black;
    border-radius: 2px;
}
select:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


button {
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 2px;
}

button:hover {
    transform: scale(1.1) rotate(2deg);
    transition: transform 0.3s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}