<h2 mat-dialog-title class="dialog-title">🐝 Crear un Nuevo Grupo</h2>

<mat-dialog-content class="group-dialog">
    <form (ngSubmit)="onSubmit()" #groupForm="ngForm" class="group-form">

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>🐝 Nombre del Grupo</mat-label>
            <input matInput [(ngModel)]="groupData.name" name="name" required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>📝 Descripción</mat-label>
            <textarea matInput [(ngModel)]="groupData.description" name="description" rows="3" required></textarea>
        </mat-form-field>

        <button mat-raised-button color="accent" class="submit-button" type="submit"
                [disabled]="groupForm.invalid">
            🐝 Crear Grupo
        </button>
    </form>
</mat-dialog-content>
