<div class="group-details-container">
    @if (isLoading) {
        <p>Loading group details...</p>
    } @else {
        <mat-card>

            <!-- Imagen y detalles del challenge -->
            <div class="challenge-header">
                <img src="{{ challenge.imageUrl }}" alt="Challenge image">
                <div class="challenge-text">
                    <mat-card-title class="challenge-title">{{ challenge.title }}</mat-card-title>
                    <mat-card-subtitle class="challenge-subtitle">Group Details</mat-card-subtitle>

                    <div class="challenge-meta">
                        <p class="challenge-description">{{ challenge.description }}</p>
                        <p class="challenge-deadline">📅 <strong>Deadline:</strong> {{ challenge.deadline }}</p>
                    </div>
                </div>
            </div>

            <mat-card-content>

                <!-- Añadir lista de submissions aquí -->
                <app-submission-card-list [currentChallengeId]="challenge.id"></app-submission-card-list>

            </mat-card-content>


            <div *ngIf="tempUser.role === 'ROLE_STUDENT'" class="submission-container">
                <!--<button mat-raised-button color="primary" (click)="resetAttempts()">Reiniciar intentos</button>-->
                <button mat-raised-button color="accent" (click)="toggleSubmissionForm()" [disabled]="remainingAttempts === 0">Create Submission</button>
                <p>remaining Attempts: {{ remainingAttempts }}</p>
                <p *ngIf="remainingAttempts === 0">You dont have remaining attempts for this challenge</p>
                <div *ngIf="isSubmissionFormVisible" class="submission-form-container">
                    <form (ngSubmit)="createSubmission()">
                        <mat-form-field>
                            <textarea matInput [(ngModel)]="challengeToSubmit.content" name="description" placeholder="Colocar aqui su resolucion." required></textarea>
                        </mat-form-field>
                        <button mat-raised-button color="primary" type="submit">Enviar</button>
                        <button mat-raised-button color="warn" type="button" (click)="toggleSubmissionForm()">Cancelar</button>
                    </form>
                </div>
            </div>

            <mat-card-actions>
                <button mat-raised-button color="primary" routerLink="/dashboard">Back to Groups</button>
            </mat-card-actions>

        </mat-card>
    }
</div>