<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" mode="side" fixedInViewport>
        <!-- Logo -->
        <div style="height: 40px"></div>
        <div class="logo-container">
            <img ngSrc="bee.png" alt="EduHive Logo" class="logo" width="80" height="80" />
            <h2 class="brand-title">EduHive</h2>
        </div>

        <!-- Opciones de navegación -->
        <nav class="nav-links">
            @for (option of options; track option.label) {
                <a class="nav-button" mat-button [routerLink]="option.link" routerLinkActive="active" (click)="drawer.toggle()">
                    <mat-icon>house</mat-icon>
                    {{ option.label }}
                </a>
            }
            <a mat-button [routerLink]="'/profile'" routerLinkActive="active" (click)="drawer.toggle()">
                <mat-icon>person</mat-icon>
                Profile
            </a>

            <a mat-button class="logout" (click)="LogOut(); drawer.toggle()">
                <mat-icon>logout</mat-icon>
                Log Out
            </a>
        </nav>
    </mat-sidenav>

    <mat-sidenav-content>
        <!-- Toolbar -->
        <mat-toolbar class="toolbar" color="primary">
            @if (IsUserConnected()) {
                <button mat-icon-button (click)="drawer.toggle()" class="menu-button" aria-label="Toggle sidenav">
                    <mat-icon>menu</mat-icon>
                </button>
            }

            <span class="toolbar-title">EduHive</span>
            <span class="spacer"></span>

            <!-- Language switcher -->
            <app-language-switcher></app-language-switcher>
        </mat-toolbar>

        <!-- Contenido -->
        <main>
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>
