<div style="height: 90px"></div>
<div class="group-details-container">
    @if (isLoading) {
        <p>{{ 'loadingGroupDetails' | translate }}</p>
    } @else {
        <mat-card>
            <div style="display: flex; align-items: center; justify-content: center; padding: 10px; text-align: center;">
                <img src="{{ group.imageUrl }}" alt="Group image" style="border-radius: 10px; max-width: 30%; height: 100px;">
                <div>
                    <mat-card-header>
                        <mat-card-title>{{ group.name }}</mat-card-title>
                        <mat-card-subtitle>{{ 'groupDetails' | translate }}</mat-card-subtitle>
                    </mat-card-header>
                    <p><strong>{{ 'description' | translate }}:</strong> {{ group.description }}</p>
                </div>
            </div>

            <mat-card-content>
                <app-challenge-list #challengeList [currentGroupId]="group.id"></app-challenge-list>
            </mat-card-content>

            <mat-card-actions>
                <button mat-raised-button routerLink="/dashboard">{{ 'backToGroups' | translate }}</button>
                <button mat-raised-button [routerLink]="['/group', group.id, 'members']">{{ 'seeMembers' | translate }}</button>
                <div class="button-spacer"></div>
                @if (user.roles[0] == "ROLE_TEACHER") {

                    <button mat-flat-button class="create-challenge-button" (click)="openCreateChallengeDialog()">{{ 'createChallenge' | translate }}</button>
                    <button mat-flat-button class="leave-button" (click)="deleteGroup()">{{ 'deleteGroup' | translate }}</button>

                } @else {
                    <button mat-flat-button class="leave-button" (click)="leaveGroup()">
                        {{ 'leaveGroup' | translate }}
                    </button>
                }
            </mat-card-actions>
        </mat-card>
    }
</div>
