<div class="group-details-container">
    @if (isLoading) {
        <p>Loading group details...</p>
    } @else {
        <mat-card>
            <div style="display: flex; align-items: center; justify-content: center; padding: 10px; text-align: center;">
                <img src="{{ group.imageUrl }}" alt="Descripción de la imagen" style="border-radius: 10px; max-width: 30%; height: 100px;">
                <div>
                    <mat-card-header>
                        <mat-card-title>{{ group.name }}</mat-card-title>
                        <mat-card-subtitle>Group Details</mat-card-subtitle>
                    </mat-card-header>
                    <p><strong>Description:</strong> {{ group.description }}</p>
                </div>
            </div>

            <mat-card-content>
                <!-- REFERENCIA LOCAL AGREGADA -->
                <app-challenge-list #challengeList [currentGroupId]="group.id"></app-challenge-list>
            </mat-card-content>

            <mat-card-actions>
                <button mat-raised-button routerLink="/dashboard">Back to Groups</button>
                <button mat-raised-button [routerLink]="['/group', group.id, 'members']">See Members</button>
                <div class="button-spacer"></div>
                @if (user.role == "ROLE_TEACHER") {
                    <button mat-flat-button class="create-challenge-button" (click)="openCreateChallengeDialog()">Create Challenge</button>
                    <button mat-flat-button class="leave-button" (click)="deleteGroup()" routerLink="/dashboard">Delete Group</button>
                } @else {
                    <button mat-flat-button class="leave-button" (click)="leaveGroup()">Leave Group</button>
                }
            </mat-card-actions>
        </mat-card>
    }
</div>