<h1>{{ 'profileTitle' | translate }}</h1>
<hr>

<div class="profile-card">
    <div class="profile-image">
        <img [src]="user?.roles?.[0] === 'ROLE_TEACHER' ? teacherImg : studentImg" alt="Profile Image" />
    </div>

    <div class="profile-details">
        <h2>{{ user?.firstName }} {{ user?.lastName }}</h2>
        <p class="role">{{ user?.roles?.[0] }}</p>
        <p class="email">{{ user?.email }}</p>

        <div class="stats">
            <h3>{{ 'statistics' | translate }}</h3>
            <ul>
                <li>
                    <strong>{{ 'groupsJoined' | translate }}:</strong> {{ groupCount }}
                </li>
                <li *ngIf="user?.roles[0] === 'ROLE_STUDENT'">
                    <strong>{{ 'totalSubmissions' | translate }}:</strong> {{ submissionCount }}
                </li>
                <li *ngIf="user?.roles[0] === 'ROLE_STUDENT'">
                    <strong>{{ 'lastJoinedGroup' | translate }}:</strong> {{ lastGroupName }}
                </li>
                <li *ngIf="user?.roles[0] === 'ROLE_TEACHER'">
                    <strong>{{ 'lastCreatedGroup' | translate }}:</strong> {{ lastGroupName }}
                </li>
                <li *ngIf="user?.roles[0] === 'ROLE_TEACHER'">
                    <strong>{{ 'challengesCreatedIn' | translate }} {{ lastGroupName }}:</strong> {{ challengeCount }}
                </li>
            </ul>
        </div>
    </div>
</div>
