h2{
    text-align: center;
    font-size: 40px;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

input {
    background-color: #fff8e9;
    padding: 5px;
    font-size: 14px;
    border: 1px solid black;
    border-radius: 2px;
}

input:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

form input::placeholder {
    color: #000000; /* Un gris un poco más oscuro */
}

button {
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 2px;
}

button:hover {
    transform: scale(1.1) rotate(2deg);
    transition: transform 0.3s ease;
}

.fadeIn {
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

p {
    text-align: left;
    color: black;
    text-decoration: underline dotted;
    font-weight: bold;
    font-size: medium;
}

p:hover{
    cursor: pointer;
}

.social-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;

}

.social-button {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: left;
}

.social-button span {
    flex: 1;
    text-align: center;
}

.social-button i {
    font-size: 20px;
}

.social-button.facebook {
    background-color: #3b5998;
}

.social-button.twitter {
    background-color: #1da1f2;
}

.social-button.apple {
    background-color: #000000;
}