<mat-card class="course-card" appearance="outlined">
    <img mat-card-image [src]="group.imageUrl" alt="Course image">
    <div class="badge">{{ 'design' | translate }} UI/UX</div>

    <mat-card-header>
        <mat-card-title>{{ group.name }}</mat-card-title>
        <mat-card-subtitle>{{ group.description }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>

        <p>{{ 'totalScore' | translate }}: {{ userScore }}</p>

    </mat-card-content>

    <mat-card-footer>
        <button mat-icon-button [routerLink]="['/group', group.id]" class="view-button">
            <mat-icon>arrow_forward</mat-icon>
        </button>
    </mat-card-footer>
</mat-card>
