<mat-card class="horizontal-card">
    <div class="card-image-container">
        <img mat-card-image [src]="challenge.imageUrl" alt="Challenge image">
    </div>

    <div class="card-content-container">
        <mat-card-header>{{ challenge.title }}</mat-card-header>

        <mat-card-content>
            <span>{{ challenge.description }}</span>

            <div class="deadline-block">
                <strong>{{ 'deadline' | translate }}:</strong> {{ formatDate() }}
            </div>
        </mat-card-content>

        <mat-card-footer>
            <button mat-flat-button color="primary"
                    [routerLink]="['/group', groupId, 'challenge', challenge.id]"
                    class="view-more-button">
                {{ 'viewMore' | translate }}
            </button>
        </mat-card-footer>
    </div>
</mat-card>
